body {
    background-color: #2f3136;
    font-family: 'Poppins', sans-serif;
    animation-name: fadeIn;
    animation-duration: 500ms;
    color: #5865F2;
    margin: 0%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

.wrapper {
    display: flex;
    height: 95vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.topbar {
    display: flex;
    background-color: #202225;
    width: 100vw;
    height: 5vh;
    justify-content: right;
    align-items: center;
}

.main {
    text-align: center;
    max-width: 48rem;
    padding: 2rem;
}

/* #region invite */

.invite {
    height: 2rem;

    padding-right: 5rem;
    padding-left: 5rem;

    padding-top: .25rem;
    padding-bottom: .25rem;

    text-decoration: none;
    background-color: transparent;

    border: .1rem solid #5865F2;
    border-radius: 1rem;

    color: #5865F2;
    cursor: pointer;

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;

    margin-top: 1rem;
}

.invite:hover {
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: #5865F2;
    color: white;
    box-shadow: 3px 3px 10px #202225;
}

/* #endregion */

/* #region btn-group*/

.btn-group {
    margin-right: 2rem;
}

.btn-group button {
    float: left;
    width: 12rem;
    height: 2rem;
    background-color: transparent;

    border: .1rem solid #57F287;

    color: #57F287;
    cursor: pointer;

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.btn-group button:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.btn-group button:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    width: 16rem;
    background-color: #57F287;
    color: black;
    box-shadow: 3px 3px 10px #202225;
}

/* #endregion */